extends layout

block content
  section#hero.hero
      h1#crest.crest
  section#accommodations.accommodations.row
    h2.fancy
      span Accommodations
    header
      div.col-md-6.col-md-offset-1
        p.lead <strong>We hope you’ll join us in June!</strong> We’ve organized several blocks of rooms at three different hotels, which you can find below. Shuttle buses will transport guests between these hotels and the venue.
      div.col-md-4
        p We've secured special rates with these hotels, but please feel free to stay wherever you like! There are many lovely places in the area.
        p We have used <a href="https://www.airbnb.com/s/Charlottesville--VA?source=bb">airbnb.com</a> with much happy success, and there are several <a href="http://www.tripadvisor.com/Hotels-g57592-c2-Charlottesville_Virginia-Hotels.html">wonderful bed & breakfasts</a> to choose from.
    div#map.col-md-7
    div#hotels.hotels.col-md-5
        div#omni.hotel.omni
          h3 Omni Charlottesville
          //- img.img-responsive.img-rounded(src="images/omni.jpg", alt="Interior of a king room at the Omni Charlottesville")
          p Book directly on a special booking site for a rate of $249 per night.
          p.address.btn.btn-outline-inverse
            span.glyphicon.glyphicon-map-marker
            a(href="https://goo.gl/maps/jGtEp") 212 Ridge McIntire Rd
          p.phone.btn.btn-outline-inverse
            span.glyphicon.glyphicon-earphone
            a(type="tel") 202-340-5498
          p.booking.btn.btn-primary
            span.glyphicon.glyphicon-calendar
            a(href="#") Book a Room
        div#hampton-inn.hotel.hampton-inn
          h3 Hampton Inn
          //- img.img-responsive.img-rounded(src="images/hamptoninn.jpg", alt="Interior of a king room at the Hampton Inn")
          p Make sure to select the option to “add special rate codes” and use the code <strong>LLW</strong> to get a rate of $150 per night.
          footer * Please note that there are <strong>two</strong> Hampton Inns.
          p.address.btn.btn-outline-inverse
            span.glyphicon.glyphicon-map-marker
            a(href="https://goo.gl/maps/0WZnl") 2035 India Rd
          p.phone.btn.btn-outline-inverse
            span.glyphicon.glyphicon-earphone
            a(type="tel") 202-340-5498
          p.booking.btn.btn-primary
            span.glyphicon.glyphicon-calendar
            a(href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-charlottesville-CHOVAHX/index.html") Book a Room
        div#hampton-suites.hotel.hampton-suites
          h3 Hampton Inn and Suites
          //- img.img-responsive.img-rounded(src="images/hamptonsuites.jpg", alt="Interior of a king room at the Hampton Inn and Suites")
          p Make sure to select the option to “add special rate codes” and use the code <strong>LOW</strong> to get a rate of $219 per night.
          footer * Please note that there are <strong>two</strong> Hampton Inns.
          p.address.btn.btn-outline-inverse
            span.glyphicon.glyphicon-map-marker
            a(href="https://goo.gl/maps/B3kv1") 900 W Main St.
          p.phone.btn.btn-outline-inverse
            span.glyphicon.glyphicon-earphone
            a(type="tel") 202-340-5498
          p.booking.btn.btn-primary
            span.glyphicon.glyphicon-calendar
            a(href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-and-suites-charlottesville-at-the-university-CHOMSHX/index.html") Book a Room
  section#ceremony.ceremony
    h2.fancy
      span Ceremony & Reception
    div.col-md-4.col-md-offset-4
      p.text-size-1 We’ll tie the knot and celebrate directly following, at <a href="http://www.basicjoy.com/wordpress/bellehaven-on-the-james/">Belle Haven</a> in Scottsville, VA.
      p.text-size-2 More details about the ceremony and festivities coming soon!
  section#favorites.favorites
    div.wrap
      h2.fancy
        span Things To Do
      div.col-md-4.col-md-offset-1
        p.lead We delighted and honored that you’re considering joining us next summer!
        p.text-size-2 Whether you plan on spending a few extra days in the area, or making a quick trip of it, we want to share some of our favorite spots to visit and things to do.
        p.text-size-2 With the exception of the day trips, everything is within walking distance of the downtown area.
      div.col-md-3.col-md-offset-1.text-size-2
        h3 Food and Drink
        ul
          li
            a(href="#") C&O
          li
            a(href="#") Commonwealth Skybar
          li
            a(href="#") Cinema Taco
          li
            a(href="#") The Whiskey Jar
          li
            a(href="#") Bluegrass Grill & Diner
          li
            a(href="#") Blue Moon Diner
          li
            a(href="#") ACE Biscuit & BBQ
          li
            a(href="#") Positively 4th St.
        h3 Entertainment
        ul
          li
            a(href="#") The Southern
          li
            a(href="#") Jefferson Theater
          li
            a(href="#") Charlottesville Pavilion
          li
            a(href="#") Vinegar Hill Theater
          li
            a(href="#") Live Arts
      div.col-md-3.text-size-2
        h3 Shopping
        ul
          li
            a(href="#") Rock, Paper, Scissors
          li
            a(href="#") Bittersweet
          li
            a(href="#") Roxie Daisy
          li
            a(href="#") Melody Supreme
          li
            a(href="#") Sidetracks Records
          li
            a(href="#") Low Vintage
          li
            a(href="#") Ike's Underground
          li
            a(href="#") Eloise
        h3 Day Trips
        ul
          li
            a(href="#") Monticello
          li
            a(href="#") Veritas Vineyard
          li
            a(href="#") Blue Mountain Brewery
          li
            a(href="#") James River State Park
          li
            a(href="#") James River Swimming Hole

  section#registry.registry
    h2.fancy
      span Registry
    div.row
      div.col-md-4.col-md-offset-4
        p.lead Registries have been created at <a href="http://www1.macys.com/registry/wedding/guest/?registryId=2132835" title="Go to our Macy's registry">Macy’s</a> and <a href="http://www.crateandbarrel.com/Gift-Registry/Katel-LeDu-and-Jon-Long/r5102740">Crate & Barrel</a>. Both can be found on line or in-store under either one of our names.
    div.row
      div.col-md-2.col-md-offset-4
        a(href="#")
          img.img-responsive.img-thumbnail(src="images/macys.gif", alt="Macy's Logo")
      div.col-md-2
        a(href="#")
          img.img-responsive.img-thumbnail(src="images/crateandbarrel.gif", alt="Macy's Logo")