<nav id="nav" role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#collapsed-navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
  </div>
  <div id="collapsed-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#accommodations">Accommodations</a></li>
      <li><a href="#ceremony">Ceremony</a></li>
      <li><a href="#favorites">Things to Do</a></li>
      <li><a href="#registry">Gifts</a></li>
    </ul>
  </div>
</nav>