nav#main-navigation.main-navigation
  div.logo
    a(class="ir icon-logo", href="/", title="Go Home") Jon and Katel
  ul
    li
      a(href="/map", title="", data-section="map") Map
    li.split
      a(href="/schedule", title="", data-section="schedule") Schedule
    li
      a(href="#", title="", data-section="") Item 3
    li
      a(href="#", title="", data-section="") Item 4