@charset "UTF-8";
/* ============================================================
jonandkatel.com SCSS

/* ------------------------------------------------------------
Imports
------------------------------------------------------------ */
/* Micro-clearfix: h5bp.com/q */
/* line 3, ../../sass/partials/_utilities.scss */
.clearfix, section, .accommodations header, .favorites .wrap {
  *zoom: 1;
}
/* line 7, ../../sass/partials/_utilities.scss */
.clearfix:before, section:before, .accommodations header:before, .favorites .wrap:before, .clearfix:after, section:after, .accommodations header:after, .favorites .wrap:after {
  content: "";
  display: table;
}
/* line 11, ../../sass/partials/_utilities.scss */
.clearfix:after, section:after, .accommodations header:after, .favorites .wrap:after {
  clear: both;
}

/* Hiding elements */
/* line 17, ../../sass/partials/_utilities.scss */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* For image replacement */
/* line 29, ../../sass/partials/_utilities.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 38, ../../sass/partials/_utilities.scss */
.ir br {
  display: none;
}

/* ------------------------------------------------------------
Variables
------------------------------------------------------------ */
/* ------------------------------------------------------------
Type
------------------------------------------------------------ */
/* line 45, ../../sass/screen.scss */
body {
  font-family: "Lato", sans-serif;
  color: #333333;
}

/* line 50, ../../sass/screen.scss */
h1 {
  color: #667d85;
}

/* line 54, ../../sass/screen.scss */
h2 {
  font-family: 'Sacramento', cursive;
  text-transform: lowercase;
  text-align: center;
  font-size: 40px;
  color: #667d85;
  padding: 100px 0;
  position: relative;
  margin: 0;
}

/* line 65, ../../sass/screen.scss */
h3 {
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

/* line 72, ../../sass/screen.scss */
p, li {
  font-family: 'Nixie One', sans-serif;
  font-size: 16px;
}

/* line 77, ../../sass/screen.scss */
a {
  font-weight: bold;
  letter-spacing: -.8px;
}

/* line 82, ../../sass/screen.scss */
.text-size-1, .lead strong, .favorites .lead {
  font-weight: normal;
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
  line-height: 1.3;
}

/* line 90, ../../sass/screen.scss */
.text-size-2, .lead {
  font-size: 20px;
  margin-bottom: 15px;
}

/* line 102, ../../sass/screen.scss */
.fancy {
  line-height: 0;
  text-align: center;
}
/* line 105, ../../sass/screen.scss */
.fancy span {
  display: inline-block;
  position: relative;
}
/* line 109, ../../sass/screen.scss */
.fancy span:before, .fancy span:after {
  content: "";
  position: absolute;
  height: 3px;
  border-bottom: 1px solid #667d85;
  top: 0;
  width: 1000px;
}
/* line 118, ../../sass/screen.scss */
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
/* line 122, ../../sass/screen.scss */
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/* line 129, ../../sass/screen.scss */
.nav {
  font-family: 'Sacramento', cursive;
  text-transform: lowercase;
  font-size: 35px;
}

/* ------------------------------------------------------------
Layout
------------------------------------------------------------ */
/* line 140, ../../sass/screen.scss */
.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

/* line 152, ../../sass/screen.scss */
section {
  padding-top: 70px;
  margin-top: -70px;
}

/* line 158, ../../sass/screen.scss */
body, html {
  overflow-x: hidden;
}

/* line 162, ../../sass/screen.scss */
.navbar {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  text-align: center;
  background: #fff;
  border-bottom: 0;
}
/* line 167, ../../sass/screen.scss */
.navbar.affix {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/* line 170, ../../sass/screen.scss */
.navbar .nav {
  float: none;
}
/* line 172, ../../sass/screen.scss */
.navbar .nav li {
  display: inline-block;
  float: none;
}
/* line 175, ../../sass/screen.scss */
.navbar .nav li a {
  padding: 30px 15px;
  display: inline-block;
}
/* line 179, ../../sass/screen.scss */
.navbar .nav li.active a {
  background: none;
  color: #428bca;
}
/* line 182, ../../sass/screen.scss */
.navbar .nav li.active a:hover {
  background: none;
  color: #428bca;
}
/* line 187, ../../sass/screen.scss */
.navbar .nav li:before {
  content: '•';
  display: inline-block;
  vertical-align: sub;
}
/* line 193, ../../sass/screen.scss */
.navbar .nav li:first-child:before {
  display: none;
}
/* line 198, ../../sass/screen.scss */
.navbar .nav .home {
  display: none;
}
/* line 202, ../../sass/screen.scss */
.navbar.affix-top {
  position: relative;
}
/* line 205, ../../sass/screen.scss */
.navbar.affix {
  position: fixed;
  top: 0 !important;
}

/* line 211, ../../sass/screen.scss */
.affix + .site-wrapper {
  padding-top: 100px;
}

/* ------------------------------------------------------------
Base
------------------------------------------------------------ */
/* line 219, ../../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* ------------------------------------------------------------
Hero
------------------------------------------------------------ */
/* line 229, ../../sass/screen.scss */
.crest {
  background: url(/images/crest.png) no-repeat 0 0;
  width: 600px;
  height: 414px;
}

/* ------------------------------------------------------------
Accommodations
------------------------------------------------------------ */
/* line 241, ../../sass/screen.scss */
.accommodations header {
  margin-bottom: 50px;
}

/* line 247, ../../sass/screen.scss */
.hotels {
  padding: 0;
  -webkit-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* line 252, ../../sass/screen.scss */
.hotel {
  cursor: pointer;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 258, ../../sass/screen.scss */
.hotel .btn {
  display: inline-block;
  margin: 0 5px;
}
/* line 261, ../../sass/screen.scss */
.hotel .btn.address {
  margin-left: 0;
}
/* line 265, ../../sass/screen.scss */
.hotel .btn-primary {
  color: #fff;
}
/* line 268, ../../sass/screen.scss */
.hotel .btn-outline-inverse {
  color: #428bca;
  background: rgba(255, 255, 255, 0.6);
}
/* line 272, ../../sass/screen.scss */
.hotel .btn-outline-inverse a {
  color: #428bca;
}
/* line 276, ../../sass/screen.scss */
.hotel .btn-outline-inverse:hover {
  background: #fff;
}
/* line 280, ../../sass/screen.scss */
.hotel a {
  color: #fff;
}
/* line 282, ../../sass/screen.scss */
.hotel a:hover {
  text-decoration: none;
}
/* line 286, ../../sass/screen.scss */
.hotel span {
  margin-right: 8px;
}
/* line 289, ../../sass/screen.scss */
.hotel p {
  margin: 20px 0 15px;
  line-height: 1.4;
}
/* line 293, ../../sass/screen.scss */
.hotel h3 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 298, ../../sass/screen.scss */
.hotel img {
  margin-bottom: 15px;
}
/* line 301, ../../sass/screen.scss */
.hotel footer {
  font-style: italic;
  margin-bottom: 20px;
}
/* line 305, ../../sass/screen.scss */
.hotel:hover {
  background: #129cff;
}
/* line 308, ../../sass/screen.scss */
.hotel:first-child {
  border-top: 0;
}

/* line 314, ../../sass/screen.scss */
.omni {
  background: #78c6ff;
}

/* line 318, ../../sass/screen.scss */
.hampton-inn {
  background: #5ebcff;
}

/* line 322, ../../sass/screen.scss */
.hampton-suites {
  background: #45b1ff;
}

/* ------------------------------------------------------------
Ceremony
------------------------------------------------------------ */
/* line 330, ../../sass/screen.scss */
.ceremony {
  background: url(/images/jamesriver.jpg) no-repeat center 380px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 70px;
}
/* line 337, ../../sass/screen.scss */
.ceremony p {
  color: #fff;
  text-align: center;
}
/* line 341, ../../sass/screen.scss */
.ceremony .img {
  padding-right: 0;
}
/* line 344, ../../sass/screen.scss */
.ceremony .text-size-1, .ceremony .lead strong, .lead .ceremony strong, .ceremony .favorites .lead, .favorites .ceremony .lead {
  color: #667d85;
  margin-bottom: 560px;
}
/* line 348, ../../sass/screen.scss */
.ceremony .col-md-4 {
  margin-bottom: 30px;
}

/* ------------------------------------------------------------
Things to Do
------------------------------------------------------------ */
/* line 366, ../../sass/screen.scss */
.favorites {
  margin-top: -140px;
  color: #fff;
}
/* line 369, ../../sass/screen.scss */
.favorites h2, .favorites h3, .favorites p, .favorites li {
  color: #554e5d;
}
/* line 373, ../../sass/screen.scss */
.favorites h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
/* line 377, ../../sass/screen.scss */
.favorites a {
  color: rgba(255, 255, 255, 0.75);
}
/* line 380, ../../sass/screen.scss */
.favorites ul {
  margin-left: -2em;
  margin-bottom: 25px;
}
/* line 384, ../../sass/screen.scss */
.favorites li {
  margin-top: 5px;
}
/* line 386, ../../sass/screen.scss */
.favorites li:first-child {
  margin: 0;
}
/* line 391, ../../sass/screen.scss */
.favorites span:before, .favorites span:after {
  border-color: #554e5d;
}
/* line 395, ../../sass/screen.scss */
.favorites .wrap {
  background: #A29AAA;
  padding-bottom: 40px;
}
/* line 400, ../../sass/screen.scss */
.favorites .lead {
  margin-bottom: 30px;
}

/* ------------------------------------------------------------
Registry
------------------------------------------------------------ */
/* line 410, ../../sass/screen.scss */
.registry {
  margin-bottom: 80px;
}
/* line 412, ../../sass/screen.scss */
.registry .lead {
  margin-bottom: 40px;
}
